body {
max-width: 60em;
margin: 0 auto 0 auto;
}

body { 
	background-color: #b69cba;
	font-family: "Garamond", Times, serif;
	font-size: 100%;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

p {
  font-size: 0.95em;
}

h1, h2, table { 
	background-color: #c8cbcf 
/*I tried to figure out how to make this color stop so that it did not cover the background image, but was pretty confused. 
I'm happy enough with how it looks as is. */
}

a:link {
  color: #033fa6;
}

a:visited {
  color: #046309;
}

table, th, td {
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}
