body {
max-width: 60em;
margin: 0 auto 0 auto;
}
h1 { 
	background-image: url("../images/poe.jpg")
}

body {
	background-color: #b69cba;
}

h1, h2, table {
	background-color: #c8cbcf 
}

table, th, td {
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}
